.headWrapper{
    display: flex;
    justify-content: flex-end;
    padding: 0 130px 0 130px;
  }
  
  .header{
    display: flex;
  }
  
  .header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 5;
    left: 11.5%;
    top: 7%;
    width: 658px;
    height: 240px;

  }
  .header-content h1{
    font-size: 40px;
    font-weight: 100;
    line-height: 48px;
  }
  

.header-img{
    position: relative;
    top: 16px;
    right: 6%;
}
  
  .header h1{
    font-size: 40px;
    font-family: 'Zen Dots', cursive;
    color: white;
  }
  
  
  .btn1{
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    color: white;
    background-color: #5200BA;
    padding: 10px 39.5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .btn2{
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    border: none;
    color: white;
    padding: 10px 19.2px;
    cursor: pointer;
    background-color:  #2B2B2B;
  }


.btn1:hover{
  opacity: .7;
}

  .btn2:hover{
    opacity: 0.7;
  }

  .imgContent{
    backdrop-filter: blur(10px);
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-around;
  }

  .imgTxt{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    text-align: left;
    width: 60%;
    margin-left: 2rem;
    
  }

  .imgTxt h2{
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
  }

  .imgTxt h1{
    font-size: 32px;
  }

  .imgTxt p{
    margin: 0;
    padding-bottom: 40px;
    font-size: 15px;
  }
  
  .imgBtn{
    display: flex;
    align-items: flex-end;
    padding-bottom: 32px;
    padding-right: 20px;
    
  }

  .imgBtn > .btn1{
    font-size: 16px;
    font-family: 'Inter',sans-serif;
   padding: 10px 45.5px;
  }
